.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.active-nav-link {
  background: #007bff;
  border-radius: 5px;
}
.nav-link {
  padding: 5px 10px;
  color: #fff;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form > .form-group {
  width: 60%;
  align-self: center;
}

.user-form button {
  width: 30%;
  align-self: center;
}

.todo-input {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0 !important;
}

.todo-card {
  margin-top: 1rem;
  box-shadow: 0 0 5px #ccc;
  padding: 0 1rem;
}
.todo-card {
  flex-direction: row !important;
  align-items: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 10rem !important;
}

.toast {
  position: absolute !important;
  top: 70px;
  right: 25px;
}

.confirm-form {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  margin: 3rem auto;
}

.confirm-form button {
  align-self: center;
}

.todo-msg {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 5rem;
}
